.mat-body-2 {
    color: gray;
    font-weight: 300;
}
div.table {
    display: table;
    width: 100%;
}
div.row {
    display: table-row;
}
div.col {
    display: table-cell;
}
.mat-radio-button ~ .mat-radio-button {
    margin-left: 16px;
}

select {
    width: 100%;
    border-radius: 6px;
    border: 1px solid #ccc;
    padding: 1em .75em 1em .75em;
}