<mat-toolbar>
    <span>Saídas Estoque Veículos Zero km</span>
    <span class="spacer"></span>
    <button mat-raised-button color="primary" (click)="fileInput.click()" [disabled]="isCarregando">
        <mat-icon>file_upload</mat-icon> Importar Nota Fiscal em XML
    </button>
    <input hidden (change)="onFileSelected()" #fileInput type="file" id="file" accept="text/xml">
</mat-toolbar>
<div style="height: 6px;">
    <mat-progress-bar color="accent" mode="indeterminate" *ngIf="isCarregando"></mat-progress-bar>
</div>
<mat-card *ngIf="saidasEstoqueVeiculoZeroKm.chaveNotaFiscal; else elseIf">
    <mat-card-title style="color: #112a6a">Dados da nota fiscal</mat-card-title>
    <mat-card-subtitle>{{fileName}}</mat-card-subtitle>
    <div class="table">
        <div class="row">
            <div class="col">
                <h2 class="mat-title" style="color: #ff6610">Dados do Comprador</h2>
            </div>
        </div>
        <div class="row">
            <div class="col" style="width: 62%;padding-right: 16px;">
                <mat-list>
                    <div mat-subheader style="color: #112a6a">Destinatário</div>
                    <mat-list-item>
                        <div mat-line>Nome</div>
                        <div mat-line>{{saidasEstoqueVeiculoZeroKm.comprador.nome}}</div>
                    </mat-list-item>
                    <mat-list-item>
                        <div mat-line>E-mail</div>
                        <div mat-line>{{saidasEstoqueVeiculoZeroKm.comprador.email}}</div>
                    </mat-list-item>
                    <mat-list-item>
                        <div mat-line>{{saidasEstoqueVeiculoZeroKm.comprador.tipoDocumento}}</div>
                        <div mat-line>{{saidasEstoqueVeiculoZeroKm.comprador.numeroDocumento}}</div>
                    </mat-list-item>
                </mat-list>
            </div>
            <div class="col" style="width: 38%;">
                <mat-list>
                    <div mat-subheader style="color: #112a6a">Endereço</div>
                    <mat-list-item>
                        <div mat-line>Logradouro</div>
                        <div mat-line>{{saidasEstoqueVeiculoZeroKm.comprador.endereco.logradouro}},
                            {{saidasEstoqueVeiculoZeroKm.comprador.endereco.numero}}</div>
                    </mat-list-item>
                    <mat-list-item>
                        <div mat-line>Bairro</div>
                        <div mat-line>{{saidasEstoqueVeiculoZeroKm.comprador.endereco.bairro}}</div>
                    </mat-list-item>
                    <mat-list-item>
                        <div mat-line>CEP</div>
                        <div mat-line>{{saidasEstoqueVeiculoZeroKm.comprador.endereco.cep}}</div>
                    </mat-list-item>
                    <mat-list-item>
                        <div mat-line>Município e estado</div>
                        <div mat-line>{{cidadeUf}}</div>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
        <div class="row">
            <div class="col" style="width: 62%;padding-right: 16px;">
                <h2 class="mat-title" style="color: #ff6610">Dados da NF-e</h2>
                <mat-list>
                    <mat-list-item>
                        <div mat-line>Chave da Nota Fiscal</div>
                        <div mat-line>{{saidasEstoqueVeiculoZeroKm.chaveNotaFiscal}}</div>
                    </mat-list-item>
                    <mat-list-item>
                        <div mat-line>Data da venda</div>
                        <div mat-line>{{saidasEstoqueVeiculoZeroKm.dataVenda}}</div>
                    </mat-list-item>
                    <mat-list-item>
                        <div mat-line>Valor da venda</div>
                        <div mat-line>{{saidasEstoqueVeiculoZeroKm.valorVenda | currency}}</div>
                    </mat-list-item>
                </mat-list>
            </div>
            <div class="col" style="width: 38%;">
                <h2 class="mat-title" style="color: #ff6610">Estabelecimento</h2>
                <mat-list>
                    <mat-list-item>
                        <div mat-line>E-mail</div>
                        <div mat-line>{{saidasEstoqueVeiculoZeroKm.emailEstabelecimento}}</div>
                    </mat-list-item>
                </mat-list>
            </div>
        </div>
    </div>
    <div>
        <h2 class="mat-title" style="color: #ff6610;margin-bottom: 0">Motos</h2>
        <mat-list *ngFor="let moto of motos; index as i">
            <div mat-subheader>Moto #{{i+1}}</div>
            <mat-list-item>
                <div mat-line>Dados da Moto</div>
                <div mat-line><small class="caption">{{moto.motoInline}}</small></div>
            </mat-list-item>
            <mat-list-item>
                <div mat-line>Código do Estoque</div>
                <div mat-line>{{moto.idEstoque ? moto.idEstoque :
                    'Estoque não encontrado' }}</div>
            </mat-list-item>
        </mat-list>
    </div>
    <mat-card-actions>
        <button type="reset" mat-button (click)="cancelar()">Cancelar</button>
        <button mat-raised-button color="primary" (click)="salvar()" [disabled]="isCarregando" [matBadge]="total"
            matBadgeColor="accent" [matBadgeHidden]="isCarregando">
            {{!isCarregando ? 'Enviar' : 'Enviando ' + contador + '/' + total}}
        </button>
    </mat-card-actions>
</mat-card>
<ng-template #elseIf>
    <div style="padding: 16px">Selecione uma nota fiscal de saída XML no botão acima</div>
</ng-template>